pkgbase = quackquacksearch-bin
	pkgdesc = Lightning-fast Linux file search engine, daemon, GUI and KRunner plugin (pre-built binary)
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/UkeHa/quackquacksearch
	install = quackquacksearch.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = dotnet-runtime-10.0
	depends = fontconfig
	depends = freetype2
	depends = libx11
	depends = libice
	depends = libsm
	depends = libxcursor
	depends = libxext
	depends = libxi
	depends = libxrandr
	depends = libxrender
	optdepends = krunner: Quick search integration from Alt+Space
	optdepends = plasma-workspace: KDE Plasma integration and global hotkeys
	provides = quackquacksearch
	conflicts = quackquacksearch
	conflicts = quackquacksearch-git
	source = quackquacksearch.service
	source = quackquacksearch-gui.desktop
	source = quackquacksearch-krunner.desktop
	source = quackquacksearch.png
	source = LICENSE
	sha256sums = 2edab2174e2b158008df1a302dd433d3d9d4aeb628bc63d9ec4d43c02d0ed8a0
	sha256sums = 959cd2005423076376a41c2071e0a8b7ec4381a93c9ac101612ca2d41d4acf7b
	sha256sums = 1c112d71d6c926ebf356a977d95ebdb4f6268d376842e3043c2cb5c6edba988a
	sha256sums = ee4d7317faa8f5cae1e60f80db0ece66e35774c924343c24bb14fa9bc3baabea
	sha256sums = 6fce02aa473946ffc4c30f35011428a31a06528bab14c0e056124fa5a15eef4a
	source_x86_64 = quackquacksearch-0.1.3-x64.tar.gz::https://github.com/UkeHa/quackquacksearch/releases/download/v0.1.3/quackquacksearch-linux-x64.tar.gz
	sha256sums_x86_64 = ea79575df978ec92986ef3b01323d6ae14185ce1177e4b1993daaac1b9f2cfc7
	source_aarch64 = quackquacksearch-0.1.3-arm64.tar.gz::https://github.com/UkeHa/quackquacksearch/releases/download/v0.1.3/quackquacksearch-linux-arm64.tar.gz
	sha256sums_aarch64 = ab18a9cd376806fbbe017c489c550824538e62e7994910fdb1939c66adc9ca71

pkgname = quackquacksearch-bin
